{% include "header.html" %}
<nav>
  <h2>Categories</h2>
  <ul style="list-style-type:square;">
    {% for i in allcategories2 %}
    <li>
      <a href = "{{url_for('showCategories', categories_id = i.id)}}" style="color:black">{{i.name}}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
<article>
  <h2>{{categories2.name}}</h2>
  <ul style="list-style-type:circle;">
    {% for i in items2 %}
    <li>
      <a href = "{{url_for('showItem', categories_id=categories2.id ,items_id=i.id)}}" style="color:black">{{i.name}}</a>
    </li>
    {% endfor %}
  </ul>
  </br>
</article>
</body>

{% include "footer.html" %}
</html>
